.div1
{
    position: absolute;
    top:10px;
    bottom:5px;
    left:1px;
    float:left;
    padding:5px;
}
.divFlex
{
    flex-direction: column;
}

.date{
    position: relative;
    top:5px;
    bottom:5px;
    left:1px;
    float:left;
    padding:5px;
}

.div3{
    position: relative;
    top:5px;
    bottom:5px;
    left:1px;
    float:left;
    padding:5px;
}

.div4{
    position: relative;
    top:25px;
    bottom:5px;
    left:1px;
    float:left;
    padding:5px;
}
.div5{
    position: relative;
    top:25px;
    bottom:5px;
    left:1px;
    float:left;
    padding:5px;
}