.div2
{
    border-bottom:1px ;
    border-color: '#000';
    opacity:10;
    top:10px;
    display: flex;
    flex-direction: row;
    bottom: 20px;
    padding:10px;
    cursor: pointer;
}


.Date
{
    position: relative;
    left:10px;
    top:10px;
}

.Title
{
   position:relative;
   left:10px;
}
