.div1{
    position: absolute;
    top:10px;
    left:100px;
    display: block;
}

.div2
{
    position: relative;
    border-bottom:1px ;
    opacity:10;
    top:10px;
    bottom: 20px;   
    display:flex;
    flex-direction:row;
    padding:10px;
}

.Date
{
    position: relative;
    left:10px;
    top:10px;
}

.Title
{
   position:relative;
   left:10px;
}
